<mat-tab-group>
    <mat-tab label="In Progress">
        <button mat-button color="primary" class="add-task" (click)="openNewTaskDialog()">Add New Item</button>
        <app-list [list]="inProgress"></app-list>
    </mat-tab>
    <mat-tab label="Done">
        <button mat-button color="primary" class="add-task" (click)="openNewTaskDialog()">Add New Item</button>
        <app-list [list]="doneTasks"></app-list>
    </mat-tab>
    <mat-tab label="All">
        <button mat-button color="primary" class="add-task" (click)="openNewTaskDialog()">Add New Item</button>
         <app-list [list]="tasks"></app-list>
     </mat-tab>
</mat-tab-group>